/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# RubyGems build
assembly-client-*.gem

# Non-generic RVM files
.ruby-gemset
 
# Ignore IntelliJ files
.generators
.rakeTasks
*.iml
.idea

